<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
  <h1> Order Management System</h1>
  <hr>
  <h2>Update Order</h2>

  <form action="#" th:action="@{/saveOrder}"  th:object="${order}" method="post">

    <input type="hidden" th:field="*{id}"/>

<!--    <input type="text" th:field="*{referral}" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{plumes}" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{objectName}" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{objectAdress}" class="form-control mb-4 col-4">-->
<!--    <input type="date" th:field="*{applicationDate}" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{theReasonForTheApplication}"  class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{whoCreatedTheApplication}"  class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{electricianThatAcceptedTheApplication}" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{applicationResult}" class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*{note}" class="form-control mb-4 col-4">-->
    <input type="text" th:field="*{referral}" placeholder="Направлення" class="form-control mb-4 col-4">
    <input type="text" th:field="*{plumes}" placeholder="ШС" class="form-control mb-4 col-4">
    <input type="text" th:field="*{objectName}" placeholder="Назва обєкту" class="form-control mb-4 col-4">
    <input type="text" th:field="*{objectAdress}" placeholder="Адресса обєкта"
           class="form-control mb-4 col-4">
    <input type="date" th:field="*{applicationDate}" placeholder="Дата заявки"
           class="form-control mb-4 col-4">
    <input type="text" th:field="*{theReasonForTheApplication}" placeholder="Причина заявки"
           class="form-control mb-4 col-4">
    <input type="text" th:field="*{whoCreatedTheApplication}" placeholder="Хто сформував заявку"
           class="form-control mb-4 col-4">
    <input type="text" th:field="*{electricianThatAcceptedTheApplication}"
           placeholder="Електрик що прийняв заявку" class="form-control mb-4 col-4">
    <input type="text" th:field="*{applicationResult}" placeholder="Результат відпрацювання заявки"
           class="form-control mb-4 col-4">
    <input type="text" th:field="*{note}" placeholder="Нотатки" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2"> Update order</button>
  </form>

</div>

</body>
</html>